.title {
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

.accordion-button {
    font-weight: bold !important; 
    color: white !important;
    background: seagreen !important;
}